{% extends "quiz/layout.html" %}{% load static %}

{% block body %}

            <!-- Scripting Files -->

{% block script %}
        <script src="{% static 'libs/jquery.min.js' %}"></script>
        <script src="{% static 'libs/popper.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap.min.js' %}"></script>
        <script src="{% static 'libs/drop.js' %}"></script>
        <script src="{% static 'libs/add.js' %}"></script>
    {% endblock %}                    

{% endblock %}




